@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}
:root {
  --main-bg-color: #171717;
  --header-bg-color: #171717;
  --category-bg-color: #FFFFFF;
  --text-color: #fafafa;
  --header-height: 60px;
  --header-color: #171717;
  --header-text-color: rgb(255, 255, 255);
  --header-hover-color: rgb(34, 34, 34);
  --main-font: 'Open Sans', sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

.line {
  border-top: 1px solid rgb(255, 255, 255);
  margin: 20px 40px;
  z-index: 1000;
}

.video-container {
  margin-right: 100px;
  margin-left: 100px;
  padding: 2%;
  margin-top: 50px;
  margin-bottom: 100px;

  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#image {
  display: flex;
  flex-wrap: wrap; /* This will wrap the images if they exceed the container's width */
  gap: 10px; /* Adds spacing between images */
  align-items: center;
  justify-content: center;
}

.top div {
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 30px;
}

.video-list div {
  margin-left: 30px;
  margin-top: 0px;
  align-items: center;
  justify-content: start;
  display: flex;
  font-size: 25px;
  
}

.description div {
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 0px;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 20px;
}

.blog div {
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 18px;
}

.blog ul {
  margin-top: 0px;
  padding-top: 20px;
}

.title div {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  border-radius: 5px;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin-right: 100px;
  margin-left: 100px;
  padding: 2%;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: rgb(238, 203, 5);
}

.title p {
  font-size: 24px;
  font-weight: bold;
  color: rgb(59, 59, 59);
  
}

.parent-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Or any other specific width */
  margin: 40px 0px;
}

.parent-container h2 {
  font-size: medium;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.header {
  background-color: var(--header-bg-color);
  display: flex;
  position: sticky;
  justify-content: left;
  align-items: center;
  padding: 0 20px;
  height: var(--header-height);
  z-index: 1000;

}

/*Logo*/
.question {
  font-size: 60px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.question a {
  color: rgb(255, 255, 255); /* Ensures the link is white */
  text-decoration: none; /* Removes underline from links */
  transition: color 0.3s ease; /* Smooth color transition for hover effect */
}
.logo {
  font-size: 40px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  padding-right: 5px;
  /*padding-top: 5px;*/
}

.logo a {
  color: rgb(255, 255, 255); /* Ensures the link is white */
  text-decoration: none; /* Removes underline from links */
  transition: color 0.3s ease; /* Smooth color transition for hover effect */
}

.logo a:hover, .logo a:focus {
  color: #ffffff; /* Changes color to nav background color on hover/focus */
  text-decoration: none; /* Ensures no underline appears on hover/focus */
}

/*Navigation Class for the header*/
.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center; /* Vertically center the nav items */
}

.navigation li {
  padding: 0 15px;
  position: relative; /* Position relative for pseudo-elements */
}

.navigation a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  position: relative; /* For pseudo-element positioning */
  overflow: hidden; /* To contain pseudo-elements */
}

.navigation a:hover, .navigation a:focus {
  color: #cbc4c4; 
  text-decoration: none;
}
.categories-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.category-card {
background: #ffffff;
border: 3px solid transparent;
border-radius: 5px;
padding: 20px;
text-align: center;
cursor: pointer;
transition: transform 0.2s ease, box-shadow 0.2s ease;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
position: relative;
overflow: hidden;
}

.category-card:hover {
transform: translateY(-5px);
background: linear-gradient(#ffffff, #ffffff) padding-box,
            linear-gradient(135deg, #adadad 0%, rgb(179, 179, 179) 100%) border-box;
border: 3px solid transparent;
}

.landing-photo {
  display: flex;
  height: 600px;
}
.landing-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.spacer {
  padding: 100px;
}

/* home page video css*/
header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

/* Media Query for devices withi coarse pointers and no hover functionality */

/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }

  header video {
    display: none;
  }
}

.header-title {
  font-size: 100px;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
}
/* Calendar */
.section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar-box {
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  height:fit-content;
  max-height: 600px;
  width: 100%;
  flex-direction: column;
  border-radius: 20px;
  margin: 50px;
  padding: 0px;
  border-width: 5px;
  border-color: #ffffff;
  border-style: solid;
  color: rgb(255, 255, 255);
  overflow: scroll;
}

.calendar-title {
  font-size: 50px;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 0px;

}
.event-center {
  padding-left: 0px;
}
.event-header {
  font-size: 30px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  text-align: center;
}

.event-list {
  font-size: 20px;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
  text-align: center;
  padding-left: 0px;
  flex-direction: column;
  display: flex;
}

.event-location {
  
}

/* general */
.side-by-side{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 40px;
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.left {
  display: flex;
  align-items:  start;
  justify-content: start;
}

.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}



/* buttons */
.button-layout {
  width: 40%;
  place-items: center;
  display: grid;
  grid-template-columns: repeat(2, minmax(20px, 1fr));
  gap: 20px;
  justify-content: center;
  margin: 0 auto;
}

.button-59 {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 26px;
  font-weight: 600;
  height: 80px;
  width: 200px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-59:focus {
  color: #171e29;
}

.button-59:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.button-59:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}


/* Photo CSS */
.gallery {
  --g: 6px; /* the gap */
  
  display: grid;
  width: 450px; /* the size */
  aspect-ratio: 1;
  grid: auto-flow 1fr/repeat(3,1fr);
  gap: var(--g);
}
.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale();
  cursor: pointer;
  transition: .5s
}
.gallery img:hover {
  filter: grayscale(0);
}
.gallery img:nth-child(2) {
  grid-area: 1/2/span 2/span 2;
  clip-path: polygon(0 0,100% 0,100% 100%,calc(50% + var(--g)/4) 100%,0 calc(50% - var(--g)/4))
}
.gallery img:nth-child(3) {
  grid-area: 2/1/span 2/span 2;
  clip-path: polygon(0 0,calc(50% - var(--g)/4) 0,100% calc(50% + var(--g)/4),100% 100%,0 100%);
}



/* Footer Styles */
.footer {
  background-color: var(--main-bg-color);
  color: rgb(184, 184, 184);
  padding: 20px 0;
  /*border-top: #ffffff;*/
  /*border-style: solid;*/
  font-size: 18px;
  border-width: 1px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  margin: 10px;
  min-width: 200px;
}

.footer-section h4 {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
  padding: 5px;
}

.footer-section ul li a {
  color: var(--header-text-color);
  text-decoration: none;
}

.footer-section ul li a:hover {
  color: var(--header-hover-color);
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #ffffff;
  margin-top: 20px;
}


/* NavBar */



nav{
  position: fixed;
  z-index: 99;
  width: 100%;
  background: var(--header-color); 
  border-color: rgb(0, 0, 0);
  border-width: 1px;
  border-bottom-style: solid;
}
nav .wrapper{
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .logo a{
  color: var(--header-text-color);
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.wrapper .nav-links{
  padding-top: 20px;
  display: inline-flex;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  
  color: var(--header-text-color);
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover{
  background: var(--header-hover-color);
}
.nav-links .mobile-item{
  display: none;
}
.nav-links .drop-menu{
  position: absolute;
  background: var(--header-color);
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(110, 110, 110, 0.15);
}
.nav-links li:hover .drop-menu {
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}
.drop-menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}
.wrapper .btn{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}

@media screen and (max-width: 970px) {
  .wrapper .btn{
    display: block;
  }
  .wrapper .nav-links{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: var(--header-color);
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }
  #menu-btn:checked ~ .nav-links{
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn{
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn{
    display: block;
  }
  .nav-links li{
    margin: 15px 10px;
  }
  .nav-links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu{
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu {
    max-height: 100%;
  }
  .nav-links .desktop-item{
    display: none;
  }
  .nav-links .mobile-item{
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover{
    background: #3A3B3C;
  }
  .drop-menu li{
    margin: 0;
  }
  .drop-menu li a{
    border-radius: 5px;
    font-size: 18px;
  }
  
  .content .row header{
    font-size: 19px;
  }
}
nav input{
  display: none;
}

.body-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.body-text div{
  font-size: 45px;
  font-weight: 600;
}

